html, body {
    height: 100%;
    margin: 0;
}

body {
    display:flex; 
    flex-direction: column;
}

#main {
    min-height: 100%;
    display: flex;
}

.container-fluid {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
    min-height:100%;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}

.container {
    display: flex;
    width: 100%;
    height: 100%; /* For at least Firefox */
    justify-content: center;
}

.google-logo.container {
    margin-top: 8%;
    align-items: flex-end;
}

#hplogo {
    width: 272px;
    height: 92px;
}

.search-field {
    margin-top: 2em;
}

.search-field__form {
    font-size: 17px;
    width: 27.5%;
    padding: 5px 8px 0 16px;
    padding-left: 16px;
    padding-left: 14px;
    border-radius: 24px;
    background:#fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    height: 40px;
    margin: 0 auto;
}

.buttons { 
    margin-top: 1em;
}

.buttons .buttons__submit-button {
    background-color:
    #f2f2f2;
    border: 1px solid
    #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.navbar {
    justify-content: flex-end;
    line-height: 3em;
    margin-right: 30px;
}

.navbar__item + .navbar__item {
    padding-left: 15px;
}



.footerbar {
    margin-top:auto; 
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    line-height: 40px;
    font-size: 13px;
}

.locale, .footerbar__nav {
    display: flex;
    width: 100%;
}

.footerbar__nav {
    display: flex;
    justify-content: space-between;
}